/* @tailwind base;
@tailwind components;
@tailwind utilities; */

.my-img {
    display:none;
    position:absolute;
    right: 5%;
    opacity: 0.2;
    zIndex: 1;
    rotate: 0deg;
    width: 7%;
    /* transition: opacity 4s ease-in-out;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite; */
  }
  
  /* @keyframes example {
    0%   {opacity: 0.1;}
    50%  {opacity: 0.03;}
    100% {opacity: 0.1;}
  } */