.container {
    margin: 10vh;
}

:root {
    font-family: Roboto;
}

.gridTitle {
    font-size: 1.5rem;
    color: white;
    font-family: Roboto;
    font-weight: bolder;
    margin: 8vh 0 5vh 0;
    background-color: #1769aa;
    text-align: center;
}

.gridTitleText {
    padding: 2vh;
}