.view-doctor-registration-request {
  text-align: center;
  margin: 20px;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 200px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* Style for displaying the doctor request data */
.display-doctor-request {
  text-align: left;
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 20px;
}

.display-doctor-request p {
  margin: 10px 0;
  font-size: 16px;
}